/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 2, 2025, 5:55:09 PM
    Author     : cwu
*/

.login-link {
    text-align: center;
    margin: 15px 0;
}

.login-link a {
    color: #4a90e2;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 14px; /* Adjust this size as per your preference */
}

.login-link a:hover {
    color: #357abd;
    text-decoration: underline;
}

.error {
    color: red;
    font-weight: bold;
}
.success {
    color: green;
    font-weight: bold;
}
